# Logs et fichiers temporaires
.logs
.evfevent
.env
*.log
build.log

# Dépendances TOBI
dep/
.ibmi/

# Objets compilés (si synchronisés localement)
*.MODULE
*.SRVPGM
*.PGM

# VS Code
.vscode/
*.code-workspace

# OS
.DS_Store
Thumbs.db